<section class="main-content">
    <div class="filters-container">
        <div class="filters-left">
            <mat-form-field appearance="outline">
                <mat-label> Search By</mat-label>
                <mat-select>
                    <mat-option> </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="search-control">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <a (click)="showAdvanceFilter(!advanceFilterContainer)" class="btn btn-default">Advance
                        Filter</a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product ID<a href="javascript:void(0)"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a></th>
                    <th>Product Name</th>
                    <th>Quantity<a href="javascript:void(0)"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a></th>
                    <th>Date Added<a href="javascript:void(0)"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a></th>
                    <th>Days in Wishlist</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>100060630</td>
                    <td>Grand Jewels Alloy Drop Bridal Hanging Earrings Combo Sets</td>
                    <td>1</td>
                    <td>Nov 13, 2018, 04:30:13 PM</td>
                    <td>7</td>
                    <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right group-btn">
            <button type="button" class="btn btn-default">Create Order</button>
            <button type="button" class="btn btn-default">Delete Customer</button>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</section>